<!DOCTYPE html>
<html>
  <head>
    <title>Belgische verkiezingen 2014</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Home", root_path, class: 'navbar-brand' %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <div class="hidden-xs navbar-form navbar-right">
            <div class="form-group">
            <% if !session[:eid].nil? %>
              <%= link_to "Logout", eid_logout_path, class: "btn btn-default form-control" %>
            <% end %>
            </div>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li><%= mail_to "tom.naessens@ugent.be", "Send feedback" %></li>
          </ul>

          <div class="visible-xs navbar-form">
            <div class="form-group">
            <% if !session[:eid].nil? %>
              <%= button_to "Logout", eid_logout_path, class: "btn btn-default form-control" %>
            <% end %>
            </div>
          </div>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.navbar-collapse -->
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= render partial: 'flash' %>
          <%= yield %>
        </div>
      </div>
    </div>

    <hr>

    <footer>
      <p>&copy; <a href="mailto:tom.naessens@ugent.be" target="_blank">Enver Bral, Cynric Huys, Tom Naessens, Felix Van der Jeugt</a> 2014</p>
    </footer>
  </div> <!-- /container -->

</body>
</html>
